.Header {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    color: #E4A0FF;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    object-fit: cover;
  }
  .overlay_mood, .overlay_rating, .overlay_joy, .overlay_email {
    position: absolute;
    top: 40%; 
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    width: auto;
    left: 50%; 
    transform: translateX(-50%);
  }
  
  .overlay_mood {
    left: 40%;
  }
  
  .overlay_rating {
    left: 60%; 
  }
  
  .overlay_joy {
    top: 63%; 
    left: 40%; 
  }
  
  .overlay_email {
    top: 63%; 
    left: 60%; 
  }
  
  .submit_button {
    position: absolute;
    top: 105%;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: #E4A0FF;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
  }
  .submit_button:hover {
    background-color: #AE35FF;
  }

  .delete_button {
    position: absolute;
    top: 105%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color:#E4A0FF;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
  }
  .delete_button:hover {
    background-color: #AE35FF;
  }
